.page {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sidebar {
  background: linear-gradient(to bottom, #0ff 0%, #f93 100%);
  border-top-right-radius: 2px;
  padding-left: 10px;
  padding-top: 10px;
  width: 25%;
  border: 1px solid black;
  overflow-y: auto;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75%;
}

.ui.bulleted.list {
  padding-left: 15px;
}

.main {
  padding: 10px;
  height: 60vh;
}

.footer {
  height: 40vh;
  width: 100%;
}

.ui.attached.tabular.menu {
  background-color: #444;
  border-color: black;
  height: 15%;
}

.ui.attached.tabular.menu .active.item {
  border-color: black;
  background-color: #242424;
  color: #fff;
}

.ui.bottom.attached.segment.active.tab {
  border-radius: 0;
  background-color: #242424;
  color: #fff;
  border-color: black;
  overflow-y: auto;
  height: 85%;
  width: 100%;
}
